/* Template styling */

html, body {
  margin: 0;
}

/* body {
  background: url('../images/dark-linen.png') repeat;
  font-family: 'Roboto', sans-serif;
} */

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background:
  url('../src/data/images/dark theme overlay.png'),
  url('../src/data/images/dark theme.gif');
  background-size: auto;
  font-family: 'Helvetica', sans-serif;
}

.background-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 300%; 
  height: 300%;
  /* background:
  url('../src/data/images/light theme overlay.png'),
  url('../src/data/images/light theme.gif'); */
  background-size: contain;
}

div#app {
  display: grid;
  max-width: 1400px;
  margin: 0 auto;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto auto 1fr auto;
  grid-template-areas: 
    'header header header'
    'menu menu menu'
    'container container container'
    'footer footer footer'
  ;
  min-height: 100vh;
}

header {
  grid-area: header;
  height: 100px;
  /* background: url('../images/banner-top.png'); */
}

nav {
  grid-area: menu;
  height: 180px;
  line-height: 60px;
  display: flex;
  justify-content: center; 
  align-items: center; 
  margin-left: 835px;
}

nav > a {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

/* nav > a:hover {
  padding-left: 15px;
  padding-right: 15px;
  text-decoration: none;
} */

.site-name {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 450px;
  height: 135px;
  margin: 0; /* Remove default margin */
  border-radius: 10px;
  background: #333;
  border: 3px solid #222234;
  position: absolute; /* Allows precise positioning */
  top: 100px; /* Adjust this value to move down */
  left: 267px; /* Adjust this value to move right */
  overflow: hidden;
  transition: background 0.3s ease;
}

/* Pseudo-element for the animated effect */
.site-name::before {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(60deg, #222234, #ac1c1c);
  transform: rotate(50deg);
  transition: all 0.5s ease;
}

/* Clip-path effect on hover */
.site-name:hover::before {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: rotate(0);
  transition: all 0.5s ease;
}

/* Styling the text inside the box */
.site-name h3 {
  font-family: 'Courier New', monospace;
  font-size: 38px;
  color: white;
  text-shadow: 25px 25px 25px;
  position: relative;
  z-index: 1;
  margin: 0;
}

/* Specific styling for the middle letters */
.middle-letters {
  color: #e5ff00;
  filter: drop-shadow(0 0 6px #e5ff00);
  font-size: 45px;
  margin: 0 5px;
}


/* Changing background on hover */
.site-name:hover {
  background: #1a1a1a;
}



/* nav a:hover {
  color: rgb(198, 115, 247);
} */

#container {
  grid-area: container;
  background-color: rgba(0, 0, 0, 0);
  color: white;
}

#container h1 {
  text-align: center;
  font-family: Helvetica, sans-serif;
  color:rgba(70, 74, 103);
  font-size: 50px;
}

footer {
  grid-area: footer;
  padding: 10px;
  text-align: center;
  color: #ccc;
}

.hidden {
  display: none;
}

a.active {
  color: white;
  font-weight: bold;
}

input#search {
  font-size: 20px;
  background-color: transparent;
  color: white;
  border: 3px inset white;
  height: 36px;
  flex: 1 0;
  text-align: center;
  align-items: center;  
}

::placeholder {
  color: rgb(70, 74, 103);
  font-weight:bolder;
}

span.favorite {
  padding-left: 10px;
  cursor: pointer;
}

span.favorite.active {
  color: rgb(255, 0, 149);
}

span.favorite:hover {
  color:rgb(187, 135, 255)
}



#home {
  padding: 50px;
}

#home h1 {
  text-align: center;
}

#home div.content {
  max-width: 500px;
  margin: 50px auto;
  font-size: 1.5em;
}


#about {
  padding: 50px;
}


#about h1 {
  color: rgb(187, 135, 255);
  margin-bottom: 50px;
}

#about h2 {
  color: rgb(229, 210, 255);
}

#gif-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.gif-details {
  background-color: rgb(212, 212, 212);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

#close-gif-info {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #ff5f5f;
  color: #fff;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

#close-gif-info:hover {
  background-color: red;
}

.nav-link img {
  width: 75px; /* Adjust size as needed */
  height: auto;
  cursor: pointer;
  pointer-events: none;
  z-index: 1; /* Ensure the GIF is below the overlay */
}

.nav-link img#upload-icon {
scale: 0.8
}

/* .nav-link img:hover {
  opacity: 0.3; /* Slightly reduces opacity on hover 
} */

/* End about styles */

.nav-link {
  position: relative;
  display: inline-block;
  text-align: center;
}


.nav-link .overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5);
  display: none;
  z-index: 2; 
}

.nav-link input {
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  z-index: 3; 
}

.nav-link:hover .overlay,
.nav-link:hover input {
  display: block;
}


#random-gifs > .grid-item > .gif-container {
  max-width: 400px;
  margin-top: 35px;
}

#container {
  padding: 20px;
}

.trending {
  column-count: 5; 
  column-gap: 5px; 
}

.grid-item {
  display: inline-block;
  margin: 0;
  width: 100%;
}

.gif-container {
  position: relative;
  width: 100%;
  margin-bottom: 5px;
}

.gif-container img {
  display: block;
  width: 100%;
  height: auto;
}

.gif-container .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  display: none;
  z-index: 1;
}

.gif-container .buttons {
  position: absolute;
  top: 86%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  z-index: 2;
  
}

.gif-container:hover .overlay,
.gif-container:hover .buttons {
  display: block;
}

.gif-container > .buttons > button {
  display: inline-block;
  padding: 10px 10px;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background: linear-gradient(to right, #ac1c1c, #222234);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s ease, background 0.3s ease;
}
.gif-container > .buttons > button:hover {
  background: linear-gradient(0deg,  #63386b, #ac1c1c);
  transform: scale(0.9);
}

#uploads {
  display: grid;
  grid-template-columns: 1.7fr 3fr;
  gap: 120px;
  margin-top: 20px;
  align-items: start; /* Подравняване на елементите от горе надолу */
}


#upload {
  grid-column: 1; /* Заема първата колона на грида */
  background: linear-gradient(45deg, #4a4a4a, #2a2a2a); /* Градиентен цвят на фона */
  border-radius: 15px; /* Закръгляне на ръбовете */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); /* По-дълбока сянка за 3D ефект */
  text-align: center; /* Центриран текст */
  padding: 30px; /* Падинг за по-добър вид */
  max-width: 400px; /* Максимална ширина на кутията */
  position: relative; /* Необходимо за позициониране на елементи върху бекграунда */
  overflow: hidden; /* Скрива ненужните елементи */
  
}

#upload p {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: #fff; /* Цвят на текста */
  margin-bottom: 20px;
}

#upload-gif {
  margin-bottom: 20px;
  padding: 15px;
  border: 2px solid #fff;
  border-radius: 10px;
  font-size: 18px;
  width: calc(100% - 30px); /* Ширина на полето за качване, извадена от padding и border */
  background-color: rgba(255, 255, 255, 0.1); /* Прозрачен фон */
  color: #fff; /* Цвят на текста */
}

#upload-button {
  background-color: #ac1c1c; /* Основен цвят на бутона */
  color: white; /* Цвят на текста на бутона */
  padding: 15px 30px; /* По-голямо padding за по-голям бутон */
  border: none; /* Без граници */
  border-radius: 10px; /* Закръгляне на ръбовете */
  cursor: pointer; /* Показване на курсора */
  font-size: 18px; /* Големина на шрифта */
  transition: background-color 0.3s ease; /* Плавна анимация на цвета на фона */
  width: calc(100% - 30px); /* Ширина на бутона, извадена от padding и border */
  position: relative; /* Необходимо за позициониране на елементи върху бекграунда */
  z-index: 1; /* Необходимо за прозрачността на бекграунда */
}

#upload-button:hover {
  background-color: #8c1010; /* Цвят на фона при ховър */
}

#upload-button:active {
  background-color: #750d0d; /* Цвят на фона при активно натискане */
}

#uploaded {
  grid-column: 2; /* Заета втора колона на грида */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Гъвкава сетка с минимален размер от 150px */
  gap: 20px; /* Разстояние между елементите */
  align-items: start; /* Подравняване на елементите от горе надолу */
  justify-items: center; /* Центриране на съдържанието по хоризонталата */
}

#uploaded p {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  grid-column: 1 / -1; /* Заета цялата ширина на грида */
}


#uploaded .grid-item {
  width: 100%;
  max-width: 300px; /* Максимална ширина на елемента */
}

#uploaded .grid-item img {
  max-width: 100%;
  height: auto;
}

#uploads p {
    font-family: 'Playfair Display', serif;
    font-size: 32px;
    text-align: center;
    color: #ffffff; /* бяло */
    background-image: linear-gradient(to right, #b33939, #757575); /* червено-сив градиент */
    padding: 20px;
    border-radius: 20px;
}
  
.nav-text {
  display: block;
  font-size: 15px;
  margin-top: -20px;
  font-style: Helvetica, sans-serif;
}
  
#loading {
  display: none; 
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000; 
}
  
#loading img {
  width: 250px; 
  height: 200px;
}
  
#about {
  padding: 20px;
  max-width: 800px;
  margin: auto;
  text-align: center; 
}

.content h1, .content h2 {
  text-align: center; 
  margin-bottom: 20px;
}

.team-section, .timeline-section, .technologies-section, .contact-section {
  margin-bottom: 30px;
}

.team-section h2, .timeline-section h2, .technologies-section h2, .contact-section h2 {
  text-align: center;
  margin-bottom: 15px;
}

.team-member {
  display: inline-block; 
  text-align: center;
  margin: 0 15px 15px 15px; 
}

.team-member img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.timeline {
  list-style: none;
  padding: 0;
  text-align: center; 
}

.timeline li {
  display: flex;
  justify-content: center; 
  align-items: center;
  margin-bottom: 10px;
}

.timeline li span {
  width: 80px;
  font-weight: bold;
  margin-right: 10px; 
}

.technologies {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center; 
}

.technologies li {
  margin: 0 10px;
}

.contact-section a {
  color: #3498db;
  text-decoration: none;
}

