/* Template styling */

html, body {
  margin: 0;
}

/* body {
  background: url('../images/dark-linen.png') repeat;
  font-family: 'Roboto', sans-serif;
} */

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background:
  url('../src/data/images/dark theme overlay.png'),
  url('../src/data/images/dark theme.gif');
  background-size: auto;
}

.background-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 300%; /* Three times the width of the original GIF */
  height: 300%;
  /* background:
  url('../src/data/images/light theme overlay.png'),
  url('../src/data/images/light theme.gif'); */
  background-size: contain;
}

div#app {
  display: grid;
  max-width: 1400px;
  margin: 0 auto;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto auto 1fr auto;
  grid-template-areas: 
    'header header header'
    'menu menu menu'
    'container container container'
    'footer footer footer'
  ;
  min-height: 100vh;
}

header {
  grid-area: header;
  height: 100px;
  /* background: url('../images/banner-top.png'); */
}

nav {
  grid-area: menu;
  height: 180px;
  line-height: 60px;
  display: flex;
  justify-content: center; /* Center items horizontally */
  align-items: center; /* Center items vertically */
}

nav a {
  margin: 37px;
}

nav a:hover {
  color: rgb(198, 115, 247);
}

#container {
  grid-area: container;
  background-color: rgba(0, 0, 0, 0);
  color: white;
}

#container h1 {
  text-align: center;
  font-family: cursive;
  color:wheat
}

footer {
  grid-area: footer;
  padding: 10px;
  text-align: center;
  color: #ccc;
}

.hidden {
  display: none;
}

a.active {
  color: white;
  font-weight: bold;
}

input#search {
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  border: 1px solid gray;
  border-radius: 4px;
  height: 24px;
  flex: 1 0;
  margin: auto;
}

span.favorite {
  padding-left: 10px;
  cursor: pointer;
}

span.favorite.active {
  color: rgb(255, 0, 149);
}

span.favorite:hover {
  color:rgb(187, 135, 255)
}

/* End template styling */



/* Add your styles below */


/* Homepage styles */


#home {
  padding: 50px;
}

#home h1 {
  text-align: center;
}

#home div.content {
  max-width: 500px;
  margin: 50px auto;
  font-size: 1.5em;
}

/* End homepage styles */


/* About styles */

#about {
  padding: 50px;
}


#about h1 {
  color: rgb(187, 135, 255);
  margin-bottom: 50px;
}

#about h2 {
  color: rgb(229, 210, 255);
}

#gif-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.gif-details {
  background-color: rgb(212, 212, 212);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

#close-gif-info {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #ff5f5f;
  color: #fff;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

#close-gif-info:hover {
  background-color: red;
}

.nav-link img {
  width: 200px; /* Adjust size as needed */
  height: auto;
  cursor: pointer;
  pointer-events: none;
  z-index: 1; /* Ensure the GIF is below the overlay */
}

.nav-link img#upload-icon {
scale: 0.8
}

/* .nav-link img:hover {
  opacity: 0.3; /* Slightly reduces opacity on hover 
} */

/* End about styles */

.nav-link {
  position: relative;
  display: inline-block;
}


.nav-link .overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5);
  display: none;
  z-index: 2; /* Ensure the overlay is above the GIF */
}

.nav-link input {
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  z-index: 3; /* Ensure the input is above the overlay */
}

.nav-link:hover .overlay,
.nav-link:hover input {
  display: block;
}

#random-gifs > .grid-item > .gif-container {
  max-width: 400px;
}

#container {
  padding: 20px;
}

.trending {
  column-count: 5; 
  column-gap: 5px; 
}

.grid-item {
  display: inline-block;
  margin: 0;
  width: 100%;
}

.gif-container {
  position: relative;
  width: 100%;
  margin-bottom: 5px;
}

.gif-container img {
  display: block;
  width: 100%;
  height: auto;
}

.gif-container .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  display: none;
  z-index: 1;
}

.gif-container .buttons {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  z-index: 2;
}

.gif-container:hover .overlay,
.gif-container:hover .buttons {
  display: block;
}

#upload {
  padding-top: 30px;
}

.gif-container > .buttons > button {
  border: none;
  background: transparent;
}

